@charset "UTF-8";
@import "common.scss";
@import "_minix.scss";

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    >*{
        width: 100%;
    }
    *{
        font-size: change(14);
    }
    .header{
        height: change(45);
        background:orange;
        font-size: change(16);
        font-weight: bold;
        line-height: change(45);
        text-align: center;
        color:white;
    }
    .main{
        flex: 1;
        overflow-y: scroll;
        .main-wrapper{
            position: relative;
            >ul{
                li{
                    height: change(150);
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    button{
                        background: orange;
                        color:white;
                        border:none;
                    }
                }
            }
            >.load-box{
                width: 100%;
                position: absolute;
                height: change(45);
                line-height: change(45);
                background: black;
                bottom: change(-45);
                color:white;
                font-weight: bold;
                font-size: change(25);
                text-align: center;
            }
        }
    }
    .footer{
        height: change(45);
        display: flex;
        padding-top: change(3.5);
        background: #ccc;
        >a{
            width: 20%;
            height: 100%;
            text-align: center;
            >i{
                font-size: change(22);
            }
            >p{
                line-height: change(16)
            }
        }
    }
}
.ellip{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
